<!DOCTYPE html>
<html>
<head>
  <title>Dice Roller</title>
</head>
<body>
  <h1>Dice Roll</h1>
  <form action="/process_roll">
    <label for="dice_field">Number of dice to roll?</label>
    <input id="dice_field" type="text" name="dice" required>
    
    <label for="sides_field">How many sides per die?</label>
    <input id="sides_field" name="sides" type="text" required>
    
    <button>Roll!</button>
  </form>
</body>
</html>
